body {
    background-color: dimgray;
  }
  
  h1 {
    color: goldenrod;
    margin-left: 20px;
  }
  h2 {
      color: plum;
  }
  h3 {
      color: palegreen;
  }
  h4{
    color: snow;
  }
  dl{
    color: snow;
  }
  p{
    color: goldenrod;
  }